{% extends 'flatpages/default.html' %}
{% load censor_filter %}
{% load custom_tags %}
{% load i18n %}
{% block title %}
    NewsPortal
{% endblock title %}

{% block content %}

<h1>{% trans 'Все новости' %}</h1>
<h4 style="text-align: left;"> {% trans 'Новостей на странице' %}: {{posts|length}} </h4>

{%if is_not_author%}
<button> <a  style="text-align: right;" href="upgrade/"> {% trans 'Хочу стать автором!' %}</a> </button>
{%endif%}

<hr>
{%if posts%}
     <table>
           <tr>
               <td>{% trans 'Заголовок' %} </td>
               <td>{% trans 'Дата' %} </td>
               <td>{% trans 'Содержание' %} </td>
           </tr>
      {% for post in posts|dictsort:"date_created" %}
          <tr>
              <td><a href="{% url 'post_detail' post.pk %}">{{post.header|check_bad_words}}</a></td>

              <td> {{post.date_created|date:"d.m.Y"}}</td>

              <td>{{post.text|truncatewords:20 | check_bad_words}}</td>
          </tr>
          <tr><td colspan="3"><hr></td></tr>
         {%endfor%}
{%else%}
         <p>{% trans 'Новостей пока нет' %}</p>
{%endif%}


    {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}