{% extends 'flatpages/default.html' %}
{% load censor_filter %}
{% load i18n %}
{% load custom_tags %}
{% block title %}
Post
{% endblock title %}

{% block content %}

{{post.header| check_bad_words}}


<h5 style="text-align: left;"> {% trans 'Категории' %}:
    {% for category in post.category.all %}
        {{ category }}{% if not forloop.last %}, {% endif %}
    {% empty %}
    {% trans 'Нет категорий' %}
    {% endfor %}
</h5>

<h5 style="text-align: left;"> {% trans 'Дата публикации' %}: {{post.date_created|date:"d.m.Y"}}</h5>
{% if user.is_authenticated %}
    {% for category in categories %}
        {% if not category.is_subscribed %}
            <div style="text-align: left;">
                <button><a href="{% url 'subscribe_to_category' category.category.id %}">{% trans 'Подпишитесь на категорию' %} "{{ category.category|translate_category }}"</a></button>
            </div>
        {% else %}
            <span style="font-size: 0.8em; color: #666; display: block; float: left;">{% trans 'Вы уже подписаны на категорию' %}: "{{ category.category }}"</span>
        {% endif %}
    {% endfor %}
{% else %}
    <span style="font-size: 0.8em; color: #666; display: block; float: left;">{% trans 'Чтобы подписаться на категорию, пожалуйста, авторизуйтесь!' %}</span>
{% endif %}


<div class="rating-container float-right">
    <h5 class="rating">{{ post.rating }} {% trans 'Рейтинг новости' %}</h5>
    <div class="buttons">
        <form action="{% url 'like_post' post.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn-like">Like</button>
        </form>
        <form action="{% url 'dislike_post' post.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn-dislike">Dislike</button>
        </form>
    </div>
</div>


<hr style="clear: both;">
<h4> {{post.text | check_bad_words }}</h4>

<hr>

<h3 style="margin-bottom: 10px;">{% trans 'Все комментарии' %}:</h3>
<ul style="list-style: none; padding: 0; margin: 0;">
    {% for comment in post.comment_set.all %}
        <li style="margin-bottom: 10px;">
            {{comment.user.username}}:
            {{ comment.text|check_bad_words }}
            (likes: {{ comment.rating }}).
            date: {{ comment.date_created|date:"d.m.Y"}}
            <form action="{% url 'like_comment' comment.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Like</button>
            </form>
            <form action="{% url 'dislike_comment' comment.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Dislike</button>
            </form>
        </li>
    {% empty %}

        <li style="color: #999;">{% trans 'Эту новость ещё никто не прокомментировал' %}</li>
    {% endfor %}

</ul>
<form method="post" action="{% url 'comment_form' post.id %}">
    {% csrf_token %}
    <textarea name="comment" cols="40" rows="5" class="form-control"></textarea>
    <button type="submit" class="btn btn-primary btn-sm">
        <i class="fas fa-comment"></i> {% trans 'Добавить' %}
    </button>
</form>

{% endblock content %}